/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.production
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.DS_Store
deploy.php
.php_cs.cache
