@import '~bulma/bulma.sass';
@import "~bulma-checkradio/src/sass/index.sass";
@import '~swiper/dist/css/swiper.css';
@import 'tools.scss';
@import 'media.scss';
@import 'fonts.scss';

.page-color_blue {
  color: #3A69D3;
}

.page-color_pink {
  color: #FF55C2;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}



body {
  margin: 0;
  padding: 0;
  font-family: gt walsheim pro, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}



// Header
.header__top {
  position: relative;
  z-index: 2;
}

.header__top nav {
  align-items: center;
}

.box {
  padding: 0;
  margin: 0;
}

.header__menu {
  position: relative;
  z-index: 5;
}

.box:not(:last-child) {
  margin-bottom: 0;
}

.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}



.navbar-link {
  height: 60px;
}

.navbar-dropdown a.navbar-item::before {
  content: "\f061";
  padding: 0 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 2px;
  position: relative;
  transition: .3s all;
}

.navbar-dropdown a.navbar-item:hover::before {
  padding: 0 7px;
}

.navbar-dropdown a.navbar-item {
  display: flex;
}

.navbar-center {
  display: flex;

  justify-content: center;
  margin: 0 auto;
}

.navbar-item img {
  max-height: 2.75rem !important;
}

.album {
  margin-top: 20px;
}


// Footer
.social-media__icons {
  display: flex;
}

.carousel__hr {
  margin: 10px 0;
  border: 1px dashed #3A69D3;
}

.social-media__icons a {
  max-width: 5rem;
  padding: 0 20px;
}

.columns {
  margin: 0;
}


// About Us Page
.is-background-image {
  background: url(/img/baby-smile-4.jpg);
  background-size: cover;
  background-position-y: center;
}

.contactus__container {
  background: rgb(240, 240, 240);

}

// Parent Category Page
.no-box-shadow {
  box-shadow: none;
}


.card {
  transition: .3s all;
  border-radius: 10px;

  & .card-image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}


.navbar-dropdown {
  // font-size: 0.875rem;
  // padding-bottom: 0.5rem;
  padding-top: 0;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.02);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.navbar-link:not(.is-arrowless)::after {
  height: 0.5em;
  width: 0.5em;
  border: 4px solid transparent;
  border-radius: 100px;
  content: " ";
  position: absolute;
  top: 45%;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 1.5em;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #3273dc;
  margin-top: 0rem;
  right: .5em;
}


.child-categories__list li {
  padding: 5px 0;
}

.child-categories__list li::before {
  padding: 0 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
}




.expand-button {
  cursor: pointer;
  display: block;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  margin-top: 15px;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

// Okay legit CSS now
.special-text {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: 1s all;

  &.-expanded {
    max-height: 100%;
  }
}

.special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .3));
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 1;
}

.content-carousel {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.description-part__dropdown p {
  margin: 0 10px 0 0 !important;
}

.description-part__dropdown>.dropdown>.dropdown-trigger>.button {
  padding: 0;
  min-width: 15rem;
}

.description-part__dropdown>.dropdown>.dropdown-menu {
  min-width: 15rem;
}

.description-part__modal>button {
  font-family: gt walsheim pro, sans-serif;
  background: #3A69D3;
  transition: .3s;
  color: #fff;
}

.description-part__modal>button:hover {
  background: rgb(49, 89, 182);
  color: #fff;
}

.description-part__modal>button>i {
  padding-right: 10px;
}

.description-part__modal .modal-card-head {
  background: #3A69D3;

}

.description-part__modal .modal-card-title {
  color: #fff;
  text-align: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;


}

.navbar-brand {

  & .navbar-item {
    order: 2;
  }

  & .navbar-burger {
    order: 1;
    margin: 0;
  }

  & .field {
    order: 3;
    margin-left: auto;
  }
}

.text-is-right {
  text-align: right;
}

.text-is-center {
  text-align: center;
}

.button-pink {
  background: #FF55C2;
  color: #fff;
  transition: .3s all;
}
.button-pink:hover {
  background: rgb(253, 69, 186);
  color: #fff;
}


.dropdown-style{
  padding-top: 0;
  width: 100%;
}


.section__no-product{
  width: 100%;
}


.not-found__container{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
